<!DOCTYPE html>

<html>
    <head>
        <title>RangoRango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/Trango/restricted/">Restricted Page</a></li>
                <li><a href="/Trango/logout/">Logout</a></li>
                <li><a href="/Trango/add_category/">Add a New Category</a></li>
            {% else %}
                <li><a href="/Trango/register/">Register Here</a></li>
                <li><a href="/Trango/login/">Login</a></li>
            {% endif %}

                <li><a href="/Trango/about/">About</a></li>
            </ul>
        </div>
    </body>
</html>